<h1>Добавить собаку</h1>
<%=@name%>
<%= form_for @dog, :html => {:multipart => true} do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :breed %><br />
    <%= f.text_field :breed %>
  </div>
    <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
<div class="field">
   <label>My Avatar</label>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>

</div>
  <div class="actions">
    <%= f.submit "добавить" %>
  </div>
<% end %>
